html, body {
    overscroll-behavior: none;
  }

body {
    overflow: hidden;
    font-family: "Public Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    justify-content: center;
    background: white;
    cursor: default;
    user-select: none;
    user-zoom: none;
    -webkit-user-drag: none;
    color: rgb(255, 255, 255);
}

.body-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.3s;
    background: #090909;
}

.bg {
    width: 100%;
    height: 16em;
    background-image: url(/airplane.png);
    background-size: cover;
    transform: rotateY(180deg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -99;
    position: absolute;

    
}

.start {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(5, 5, 5, 0.874);
    display: flex;
    justify-content: center;
    align-items: center;
}

.start .start-display {
    width: 31em;
    height: 34em;
    border-radius: 7px;
    background: rgb(25, 25, 26);
    transition: .25s ease;
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}



.body-container .dashboard {
width: 100%;
height: 100%;
background: #090909cf;
backdrop-filter: blur(.7em);
}

.dashboard .main-content {
    width: 90%;
    height: 60%;
    
    margin: 0 auto;

}

.dashboard .main-content {
    width: 90%;
}

.dashboard .main-content .cadev .cd0 {
    width: 47%;
    height: 12em;
    border-radius: 10px;
    float: left;
    margin-left: 2%;
    background: rgb(25, 25, 26);
}

.dashboard .main-content .cadev div .inside {
    width: 90%;
    margin-left: 5%;
}

.add {
    width: 3.5em;
    height: 3.5em;
    border-radius: 5em;
    display: flex;
    text-align: center;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    color: black;
}

.add svg path {
stroke-width: 20;
fill: none;
}

.dashboard .main-content .cadev p {
    font-size: 16px;
    margin-top: 10px;
    margin-left: 3px;
    color: #5c5c5c;
}

.dashboard .user-details {
    width: 90%;
    height: 6em;
    padding-left: .3em;
    margin: 0 auto;
}

.dashboard .user-details text {
    font-size: 35px;
    text-transform: capitalize;
}

.dashboard .user-details b {
    font-weight: 500;
    color: rgb(114, 114, 114);
}

.dashboard .user-details .settings {
    float: right;
    text-align: center;
    width: 3.5em;
    height: 3.5em;
    border-radius: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(25, 25, 26);
    cursor: pointer;
    box-shadow: 4px 6px 30px -8px rgb(0, 0, 0);
}

.dashboard .user-details .settings svg {
    fill: white;
    width: 2em;
    transform: translateY(4px) scaleY(.87);
}

.body-container nav {
    width: 100%;
    height: 4.5em;
    box-shadow: 0 -4px 30px -7px rgb(0, 0, 0);
    background: rgb(25, 25, 26);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    bottom: 0;
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
}

.body-container nav button {
    width: 3.5em;
    height: 3.5em;
    margin-left: 10%;
    border-radius: 3em;
    background: none;
    border: none;
    cursor: pointer;
}

.body-container nav button:hover {
    background: #262626;
}

.body-container nav .mid-navigate {
    background: #262626;
    scale: 1.1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-container nav .mid-navigate:hover {
    background: white;
}

.body-container nav .mid-navigate img {
    width: 1.6em;

}

.body-container nav button svg {
    width: 1.7em;
    stroke-width: 2;
    stroke: white;
}

.body-container nav button:first-child {
    margin-left: 0;
    background: rgb(15, 65, 182);
}


.start .start-display .top-pagination {
    width: inherit;
    height: 2em;
    font-size: 15px;
    letter-spacing: 0.3px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.start .start-display .bottom-pagination {
    width: inherit;
    height: 20em;
    font-size: 15px;
    padding-top: .7em;
    letter-spacing: 0.3px;
    text-align: center;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.start .start-display .bottom-pagination span:first-child {
    color: rgb(0, 123, 255);
    cursor: pointer;
}

.start .start-display .bottom-pagination span:last-child {
    font-size: 16px;
    letter-spacing: .5px;
}

.start .start-display .bottom-pagination .comp {
    margin-top: 2.5em;
}

.start .start-display .bottom-pagination .comp button {
width: 3.3em;
height: 3.3em;
background-size: cover !important;
background-position: center !important;
border: none;
background: rgb(43, 43, 43);
border-radius: .65em;
margin-left: 2em;
}

.start .start-display .bottom-pagination .comp button:first-child {
    margin-left: 0;
    background-image: url(/apple.jpg);
}

.start .start-display .bottom-pagination p {
    font-size: 12px;
    width: 90%;
    margin-top: 1em !important;
    margin: 0 auto;
    margin-top: -.3em !important;
    color: rgb(126, 126, 126);
}

.start .start-display .bottom-pagination a {
    font-size: 12px;
    width: 90%;
    margin-top: 1em !important;
    margin: 0 auto;
    margin-top: -.3em !important;
    color: rgb(0, 123, 255);
    cursor: pointer;
}

.start-display .top-pagination span {
    font-size: 16px;
    font-weight: 500;
}

.start-display .top-pagination span:first-child {
    float: left;
    margin-left: 1.2em;
    margin-top: 13px;
    color: rgb(86, 86, 86);
}

.start .start-display .top-pagination span:last-child {
    float: right;
    margin-right: 1.2em;
    margin-top: 13px;
    cursor: pointer;
    color: rgb(0, 123, 255);
}

.start .start-display .mc01 {
    text-align: center;
    margin-top: 2em;
}

.start .start-display .mc01 text:first-child {
    font-size: 33px;
    text-transform: capitalize;
}

.start .start-display .mc01 text:last-child {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: .5px;
}

.start .start-display .input-bar {
    width: 100%;
    height: 3em;
    margin-top: 2em;
    display: flex;
    align-items: center;
    border-top: .5px solid rgb(49, 49, 49);
    border-bottom: .5px solid rgb(49, 49, 49);
    background: rgb(44, 44, 44);
}

.start .start-display .input-bar label {
transform: translateY(-2px);
margin-left: .8em;
}

.start .start-display .input-bar input[type=text] {
    border: none;
    outline: none;
    height: inherit;
    margin-left: 2em;
    font-size: 15px;
    text-transform: capitalize;
    letter-spacing: .5px;
    cursor: pointer;
    color: white;
    width: inherit;
    background: none;
}

.start .start-display .input-bar input:focus::placeholder {
text-indent: 5px;
}

.start .start-display .input-bar input[type=text]::placeholder {
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s cubic-bezier(0.5, 0.8, .2, 0.99) 0s, background 0s ease 0s;
    color: rgb(91, 91, 91);
}

#d002 button {
    padding: .6em;
    display: grid;
    margin: 0 auto;
    border: none;
    width: 50%;
    border-radius: .6em;
    color: white;
    font-size: 17px;
    letter-spacing: .35px;
    box-shadow: 0 3.5px 10px -4.5px rgba(0, 123, 255, 0.798);
    backdrop-filter: blur(2em);
    text-align: center;
    cursor: pointer;
    background: rgb(0, 123, 255);
    transition: .2s ease;
}

#d002 button:hover {
    background: rgba(0, 123, 255, 0.608);
    backdrop-filter: blur(2em);
    color: rgba(255, 255, 255, 0.459);
}

#d002 button:active {
    box-shadow: none;
    scale: 0.98;
}

.contextmenu {
    width: 200px;
    padding: 7px;
    background: rgb(25, 25, 26);
    position: relative;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 25px -12px rgba(0, 0, 0, 0.664);
}

.none {
    width: 200px;
    padding: 7px;
    background: rgb(25, 25, 26);
    position: relative;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 25px -12px rgba(0, 0, 0, 0.664);
}

.block {
    width: 200px;
    padding: 7px;
    background: rgb(25, 25, 26);
    position: relative;
    border-radius: 7px;
    visibility: visible;
    opacity: 1;
    box-shadow: 0 0 25px -12px rgba(0, 0, 0, 0.664);
}

.contextmenu li:first-child {
    margin-top: 0;
}

.none li:first-child {
    margin-top: 0;
}

.block li:first-child {
    margin-top: 0;
}

.contextmenu li{
    list-style: none;
    width: inherit;
    line-height: 2.5em;
    text-indent: 1em;
    height: 2.5em;
    border-radius: 3px;
    margin-top: 5px;

}

.none li{
    list-style: none;
    width: inherit;
    line-height: 2.5em;
    text-indent: 1em;
    height: 2.5em;
    border-radius: 3px;
    margin-top: 5px;

}

.block li{
    list-style: none;
    width: inherit;
    line-height: 2.5em;
    text-indent: 1em;
    height: 2.5em;
    border-radius: 3px;
    margin-top: 5px;

}

.contextmenu li:hover {
    background: rgb(34, 34, 34);
}

.none li:hover {
    background: rgb(34, 34, 34);
}

.block li:hover {
    background: rgb(34, 34, 34);
}

.android {
    background-image: url(./android.jpg) !important;   
}

.windows {
    background-image: url(./windows.webp) !important;   
}

.microsoft {
    background-image: url(./microsoft.jpeg) !important;   
}

.web {
    background-image: url('https://img.freepik.com/premium-vector/blue-square-with-globe-icon-it_876006-15.jpg') !important;   
}

.d001 {
    position: relative;
    transition: all 0.3s cubic-bezier(0.5, 0.8, .2, 0.99) 0s, background 0s ease 0s;
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
 
}

.left {
    position: relative;
    transition: all 0.3s cubic-bezier(0.5, 0.8, .2, 0.99) 0s, background 0s ease 0s;
    transform: translateX(-.5em);
    opacity: 0;
    visibility: hidden;
}

.d002 {
    position: relative;
    transition: all 0.3s cubic-bezier(0.5, 0.8, .2, 0.99) 0s, background 0s ease 0s;
    transform: translateX(.5em);
    opacity: 0;
    visibility: hidden;
}

.right {
    position: relative;
    transition: all 0.3s cubic-bezier(0.5, 0.8, .2, 0.99) 0s, background 0s ease 0s;
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

#name-inputed {
    font-size: 30px;
    font-weight: 500;
}

#route {
    width: 3.5em;
    scale: 0;
    transition: all .8s cubic-bezier(0.5, 0.8, .2, 1.35) 0s, background 0s ease 0s;
    padding-bottom: .7em;
}

.animate {  
    scale: 1 !important;

}

@keyframes rote {
    50%{
        scale: 1 !important;
        transform: rotate(10deg);
    }
    100% {
        scale: 1 !important;
        transform: rotate(30deg);
    }
}

.shake {
    animation-name: shake;
    animation-duration: .9s;
}

@keyframes shake {
    0%{
        transform: translateX(-5px);
    }
    10%{
        transform: translateX(5px);
    }
    20%{
        transform: translateX(-5px);
    }
    30%{
        transform: translateX(5px);
    }
    40%{
        transform: translateX(-5px);
    }
    50%{
        transform: translateX(5px);
    }
    60%{
        transform: translateX(-5px);
    }
    70%{
        transform: translateX(5px);
    }
    80%{
        transform: translateX(-5px);
    }
    90%{
        transform: translateX(5px);
    }
    100%{
        transform: translateX(0);
    }
}

@media(max-width: 600px) {
.start-display {
    width: 24.5em !important;
}
}