html, body {
    overscroll-behavior: none;
  }

body {
    overflow: hidden;
    font-family: "Public Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    justify-content: center;
    background: white;
    cursor: default;
    user-select: none;
    user-zoom: none;
    -webkit-user-drag: none;
    color: rgb(255, 255, 255);
}

.body-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.3s;
    background: #090909;
}

.bg {
    width: 100%;
    height: 12em;
    background-image: url(/airplane.png);
    background-size: cover;
    transform: rotateY(180deg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -99;
    position: absolute;

    
}

.start {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(5, 5, 5, 0.923);
    display: flex;
    justify-content: center;
    align-items: center;
}

.start .start-display {
    width: 31em;
    height: 34em;
    border-radius: 7px;
    background: rgb(25, 25, 26);
    transform: translateY(45em);
    transition: all 0.4s cubic-bezier(1, .9, .2, .85) 0s, background 0s ease 0s;
    visibility: visible;
    opacity: 1;
}



.body-container .dashboard {
width: 100%;
height: 100%;
background: #090909cf;
backdrop-filter: blur(.8em);
}

.dashboard .main-content {
    width: 90%;
    height: 60%;  
    margin: 0 auto;
    overflow: scroll;
    border-radius: 10px;
    display: grid;
    align-content: center;
    justify-items: center;
}

.cadev {
    width: 100%;
    display: flex;
    }

    .cd0:first-child {
        margin-left: 0 !important;
    }

.dashboard .main-content .cd0 {
    width: 50%;
    height: 12em;
    border-radius: 10px;
    margin-left: 10px;
    background: rgb(23, 23, 23);
}

.dashboard .main-content div .inside {
    width: 95%;
    margin-left: 5%;
}

.weather {
    transition: all 0.4s cubic-bezier(1, .9, .2, .85) 0s, background 0s ease 0s;
    width: 100%;
    height: 4.3em;
    offset-position: 300em;
    background: rgb(23, 23, 23);
    border-radius: 1em;  
    box-shadow: 0 -3px 15px -9.5px rgba(0, 0, 0, 0.997);  
}

.weather span {
    margin-left: 1.2em;
    text-align: start;
    font-size: 17px;
    float: left;
    font-weight: 500;
    letter-spacing: .5px;
    color: #eaeaea;
   margin-top: .6em;
    
}

.spin {
   float: right !important;
    margin-right: 0.7em !important;
    text-align: center;
    font-size: 30px !important;
    font-weight: 500;
    letter-spacing: .5px;
    color: #eaeaea;
   margin-top: .3em !important;
    
}

.weather span:last-child div {
    background: white;
    width: .6em;
    border-radius: 2em;
    height: 4px;
    margin-left: 5px;
    float: left;
    margin-top: 1.3em;
    transform: translateX(1.2em);
}

.weather span:last-child div:first-child {
   width: .2em;
}

.weather span:last-child div:last-child {
    width: .2em;
    background: #ffffff46;
 }

.weather span small {
    transition: .2s;
    color: #777777;
    font-size: 15px;
}


.weather:last-child {
    margin-top: -5em;
    z-index: -99;
    width: 95%;
    box-shadow: none;
    background: rgb(19.5, 19.5, 19.5);
}

.weather svg {
    width: 2em;
    margin-top: 1.1em;
    float: left;
}

.feather-sun {
    margin-left: 1em;
    stroke: #ffaa00;
}

.feather-sun circle {
    fill: #ffaa00;
}

.feather-sun {
    animation: sun 1.5s infinite;
  }
  
  @keyframes sun {
    50% {rotate: 30deg;}
  }

.add {
    width: 3.5em;
    height: 3.5em;
    border-radius: 5em;
    display: flex;
    text-align: center;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    color: black;
}

.add svg path {
stroke-width: 20;
fill: none;
}

.transcont {
    width: inherit;
    height: 85%;
    transition: .4s ease;
    visibility: hidden;
    opacity: 0;
overflow-y: hidden;
    text-align: center;
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.dashboard .main-content .cadev p {
    font-size: 16px;
    margin-top: 10px;
    margin-left: 3px;
    color: #5c5c5c;
}

.dashboard .user-details {
    width: 90%;
    height: 6em;
    padding-left: .3em;
    margin: 0 auto;
}

.dashboard .user-details text {
    font-size: 35px;
    text-transform: capitalize;
}

.dashboard .user-details b {
    font-weight: 500;
    color: rgb(114, 114, 114);
}

.dashboard .user-details .settings {
    float: right;
    text-align: center;
    width: 3.5em;
    height: 3.5em;
    border-radius: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(30, 30, 31);
    cursor: pointer;
    box-shadow: 4px 6px 30px -8px rgb(0, 0, 0);
}

.dashboard .user-details .settings svg {
    fill: white;
    width: 2em;
    transform: translateY(4px) scaleY(.87);
}

.body-container nav {
    width: 100%;
    height: 4.5em;
    box-shadow: 0 -4px 30px -7px rgb(0, 0, 0);
    background: rgb(25, 25, 26);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    bottom: 0;
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
}

.body-container nav button {
    width: 3.5em;
    height: 3.5em;
    margin-left: 10%;
    border-radius: 3em;
    background: none;
    border: none;
    cursor: pointer;
}

.body-container nav button:hover {
    background: #262626;
}

.body-container nav .mid-navigate {
    background: #262626;
    scale: 1.1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-container nav .mid-navigate:hover {
    background: white;
}

.body-container nav .mid-navigate img {
    width: 1.6em;

}

.body-container nav button svg {
    width: 1.7em;
    stroke-width: 2;
    stroke: white;
}

.body-container nav button:first-child {
    margin-left: 0;
    background: rgb(15, 65, 182);
}


.start .start-display .top-pagination {
    width: inherit;
    height: 2em;
    font-size: 15px;
    letter-spacing: 0.3px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.start .start-display .bottom-pagination {
    width: inherit;
    height: 20em;
    font-size: 15px;
    padding-top: .7em;
    letter-spacing: 0.3px;
    text-align: center;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.start .start-display .bottom-pagination span:first-child {
    color: rgb(0, 123, 255);
    cursor: pointer;
}

.start .start-display .bottom-pagination span:last-child {
    font-size: 16px;
    letter-spacing: .5px;
}

.start .start-display .bottom-pagination .comp {
    margin-top: 2.5em;
}

.start .start-display .bottom-pagination .comp button {
width: 3.3em;
height: 3.3em;
background-size: cover !important;
background-position: center !important;
border: none;
background: rgb(43, 43, 43);
border-radius: .65em;
margin-left: 2em;
}

.start .start-display .bottom-pagination .comp button:first-child {
    margin-left: 0;
    background-image: url(/apple.jpg);
}

.start .start-display .bottom-pagination p {
    font-size: 12px;
    width: 90%;
    margin-top: 1em !important;
    margin: 0 auto;
    margin-top: -.3em !important;
    color: rgb(126, 126, 126);
}

.start .start-display .bottom-pagination a {
    font-size: 12px;
    width: 90%;
    margin-top: 1em !important;
    margin: 0 auto;
    margin-top: -.3em !important;
    color: rgb(0, 123, 255);
    cursor: pointer;
}

.start-display .top-pagination span {
    font-size: 16px;
    font-weight: 500;
}

.start-display .top-pagination span:first-child {
    float: left;
    margin-left: 1.2em;
    margin-top: 13px;
    color: rgb(86, 86, 86);
}

.start .start-display .top-pagination span:last-child {
    float: right;
    margin-right: 1.2em;
    margin-top: 13px;
    cursor: pointer;
    color: rgb(0, 123, 255);
}

.start .start-display .mc01 {
    text-align: center;
    transition: all 0.4s cubic-bezier(1, .9, .2, .85) 0s, background 0s ease 0s;
    margin-top: 1em;
}

.start .start-display .mc01 text:first-child {
    font-size: 33px;
    text-transform: capitalize;
}

.start .start-display .mc01 text:last-child {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: .5px;
}

.start .start-display .input-bar {
    width: 90%;
    height: 2.4em;
    margin-top: 2em !important;
    display: flex;
    border-radius: 8px;
    margin: 0 auto;
    align-items: center;
    border: .5px solid rgb(53, 53, 53);
    background: rgb(44, 44, 44);
}

.start .start-display .input-bar label {
transform: translateY(-2px);
margin-left: .8em;
cursor: pointer;
}

.start .start-display .input-bar input[type=text] {
    border: none;
    outline: none;
    height: inherit;
    margin-left: 2em;
    font-size: 15px;
    text-transform: capitalize;
    letter-spacing: .5px;
    cursor: pointer;
    color: white;
    width: inherit;
    background: none;
}

.start .start-display .input-bar input:focus::placeholder {
text-indent: 5px;
}

.start .start-display .input-bar input[type=text]::placeholder {
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s cubic-bezier(0.5, 0.8, .2, 0.99) 0s, background 0s ease 0s;
    color: rgb(91, 91, 91);
}

.btn01 {
    padding: .6em;
    display: grid;
    margin: 0 auto;
    border: none;
    height: 2.2em;
    width: 30%;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    letter-spacing: .35px;
    backdrop-filter: blur(2em);
    text-align: center;
    cursor: pointer;
    background: rgb(0, 123, 255);
    transition: .2s ease;
}

#continue:hover {
    background: rgba(0, 123, 255, 0.608);
    backdrop-filter: blur(2em);
    color: rgba(255, 255, 255, 0.459);
}

#continue:active {
    box-shadow: none;
    scale: 0.98;
}

#d002 button {
    padding: .6em;
    display: grid;
    margin: 0 auto;
    border: none;
    height: 2.2em;
    width: 30%;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    letter-spacing: .35px;
    backdrop-filter: blur(2em);
    text-align: center;
    cursor: pointer;
    background: rgb(0, 123, 255);
    transition: .2s ease;
}

.contextmenu svg {
    stroke: rgb(199, 199, 199);
    width: 1.5em;
    float: right;
    margin-right: 1em;
    margin-top: 7px;
}

.none svg {
    stroke: rgb(199, 199, 199);
    width: 1.5em;
    float: right;
    margin-right: 1em;
    margin-top: 7px;
}

.block svg {
    stroke: rgb(199, 199, 199);
    width: 1.5em;
    float: right;
    margin-right: 1em;
    margin-top: 7px;
}

.contextmenu svg:first-child {
    stroke-width: 1.8 !important;
}

.contextmenu svg:last-child {
    fill: none;
}

.none svg:first-child {
    stroke-width: 1.8 !important;
}

.none svg:last-child {
    fill: none;
}

.block svg:first-child {
    stroke-width: 1.8 !important;
}

.block svg:last-child {
    fill: none;
}

.contextmenu {
    width: 220px;
    padding: 5.5px;
    background: rgb(25, 25, 26);
    position: relative;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 25px -12px rgba(0, 0, 0, 0.664);
}

.none {
    width: 220px;
    padding: 5.5px;
    background: rgb(25, 25, 26);
    position: relative;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 25px -12px rgba(0, 0, 0, 0.664);
}

.block {
    width: 220px;
    padding: 5.5px;
    background: rgb(25, 25, 26);
    position: relative;
    border-radius: 10px;
    visibility: visible;
    opacity: 1;
    box-shadow: 0 0 25px -12px rgba(0, 0, 0, 0.664);
}

.contextmenu li:first-child {
    margin-top: 0;
}

.none li:first-child {
    margin-top: 0;
}

.block li:first-child {
    margin-top: 0;
}

.contextmenu li{
    list-style: none;
    width: inherit;
    line-height: 2.3em;
    text-indent: 1em;
    height: 2.5em;
    border-radius: 3px;
    margin-top: 5px;

}

.none li{
    list-style: none;
    width: inherit;
    line-height: 2.3em;
    text-indent: 1em;
    height: 2.5em;
    border-radius: 3px;
    margin-top: 5px;

}

.block li{
    list-style: none;
    width: inherit;
    line-height: 2.3em;
    text-indent: 1em;
    height: 2.5em;
    border-radius: 3px;
    margin-top: 5px;

}

.contextmenu li:hover {
    background: rgb(34, 34, 34);
}

.none li:hover {
    background: rgb(34, 34, 34);
}

.block li:hover {
    background: rgb(34, 34, 34);
}

.android {
    background-image: url(./android.jpg) !important;   
}

.windows {
    background-image: url(./windows.webp) !important;   
}

.microsoft {
    background-image: url(./microsoft.jpeg) !important;   
}

.web {
    background-image: url('https://img.freepik.com/premium-vector/blue-square-with-globe-icon-it_876006-15.jpg') !important;   
}

.d001 {
    position: relative;
    transition: all 0.3s cubic-bezier(0.5, 0.8, .2, 0.99) 0s, background 0s ease 0s;
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
 
}

.left {
    position: relative;
    transition: all 0.3s cubic-bezier(0.5, 0.8, .2, 0.99) 0s, background 0s ease 0s;
    transform: translateX(-.5em);
    opacity: 0;
    visibility: hidden;
}

.d002 {
    transition: all 0.3s cubic-bezier(0.5, 0.8, .2, 0.99) 0s, background 0s ease 0s;
    transform: translateX(.5em);
    opacity: 0;
    visibility: hidden;
}

.right {
    transition: all 0.3s cubic-bezier(0.5, 0.8, .2, 0.99) 0s, background 0s ease 0s;
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

#name-inputed {
    font-size: 30px;
    font-weight: 500;
}

#route {
    width: 3.5em;
    scale: 0;
    transition: all .8s cubic-bezier(0.5, 0.8, .2, 1.35) 0s, background 0s ease 0s;
    padding-bottom: .7em;
}

.feature {
    width: 87%;
    height: 16em;
    display: grid;
    position: relative;
    border-radius: 7px;
    margin: 0 auto;
    overflow-y: scroll;
}

.feature .feat {
    width: 100%;
    height: 98%;
    margin: 0  auto;
    border-radius: 7px;
    background: rgba(99, 99, 99, 0.053);
}

.feature .feat:last-child {
    margin-top: 8px;
}

.feature div {
    height: 100%;
    width: 65%;
    border-radius: inherit;
    float: left;

}

.feature .feat div:first-child {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgba(255, 0, 0, 0);
}

.feature .feat div:last-child {
   text-align: start;
   padding-top: .6em;
   padding-bottom: .5em;
}

.feature .feat div text:first-child {
    font-size: 16.5px;
    font-weight: 500 !important;
}

.feature .feat div text:last-child {
    font-weight: 400 !important;
    color: #828282;
    font-size: 15px;
}

.feature .feat div:first-child svg {
width: 3em;
stroke: rgb(0, 123, 255);
stroke-width: 1.8;
}

.feather-map-pin {
    animation: myloc 2s infinite;
  }
  
  @keyframes myloc {
    50% {scale: .8;}
  }

  .feather-bell {
    rotate: -15deg;
    animation: myring 1s infinite;
  }
  
  @keyframes myring {
    50% {rotate: 15deg;}
    
  }

  .feather-arrow-right {
    stroke: rgb(102, 102, 102);
    float: right;
    
  }

.animate {  
    scale: 1 !important;

}

@keyframes rote {
    50%{
        scale: 1 !important;
        transform: rotate(10deg);
    }
    100% {
        scale: 1 !important;
        transform: rotate(30deg);
    }
}

.shake {
    animation-name: shake;
    animation-duration: .9s;
}

@keyframes shake {
    0%{
        transform: translateX(-5px);
    }
    10%{
        transform: translateX(5px);
    }
    20%{
        transform: translateX(-5px);
    }
    30%{
        transform: translateX(5px);
    }
    40%{
        transform: translateX(-5px);
    }
    50%{
        transform: translateX(5px);
    }
    60%{
        transform: translateX(-5px);
    }
    70%{
        transform: translateX(5px);
    }
    80%{
        transform: translateX(-5px);
    }
    90%{
        transform: translateX(5px);
    }
    100%{
        transform: translateX(0);
    }
}

@media(max-width: 600px) {
.start .start-display {
    width: 24.5em;
}
}

@media(max-width: 500px) {
    .start-display {
        width: 100% !important;
        height: 100% !important;
        border-radius: none !important;
    }
    .d0 {
       padding-top: 4em;
    }
    #continue {
        margin-top: 3em !important;
    }
    }

    ::-webkit-scrollbar {
display: none;
    }

    .posit {
width: 22em;
height: 8em;
margin: 0 auto;
    }
    
.forecast {
margin: 0 auto;
width: 85%;
height: 17em;
color: #b4b4b4 !important;
}

.forecast div {
    width: 100%;
    background: rgba(255, 255, 255, 0.134);
    height: 10em;
    margin: 0 auto;
    border-radius: 10px;
}

.forecast span {
    margin-left: 0;
    font-weight: 300;
    
}

.forecast span:last-child {
    font-weight: 400;
    color: whitesmoke;
}

    .deg{
        float: left;
        width: 8em;
        height: 5em;
        line-height: 2.1em;
        text-align: start;
        margin-top: 2em;
        font-weight: 300;
        margin-left: 0;
        }

        .deg div {
            height: 50%;
            width: inherit;
         font-size: 60px;
        }

        .deg div:last-child {
            font-size: 16px;
            text-align: start;
         font-weight: 400;
         color: #818181;
        }

        .deg div:last-child svg {
            width: 1.2em;
            float: right;
            margin-top: .5em;
            margin-right: 5px;
            stroke: #ffffff;
        }

     
   .sunny {
    animation: sunny 3s infinite ease;
    width: 6em;
    height: 6em;
    border-radius: 5em;
    margin: 0 auto;
    margin-top: 1em;
    float: right;
    margin-right: 0;
    box-shadow: 0 0 30px 7px #ff7700;
    background: linear-gradient(to right, #dd4a00, #ff8121, #ffb834);
   }
    
   @keyframes sunny {
    50% {
        box-shadow: none;
    }
   }

   .sunny svg {
    animation: cloud 3s infinite ease;
    width: 5.5em;
    transform: translateX(-5px);
    float: right;
    margin-right: -1.5em;
    fill: white !important;
   }

   @keyframes cloud {
    50% {
        transform: translateX(5px);
    }
   }